body {
  background-color: #fff;
  font-family: 'Amatic SC', cursive;
  color: rgb(155, 155, 155);
}

.video-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}

.video-background {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}


/* TYPE */
.text {
  text-align: center;
  width: 80%;
  position: fixed;
  bottom: 20px;
  font-size: 25px;
}

span.type {
  margin: 0 auto;
  width: 200px;
  margin-top: 100px;
}
span.type::after {
  content: '_';
  display: inline;
  animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
  opacity: 0;
  display: none;
}

/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* NAVBAR */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay p {
  font-size: 20px;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -25px;
  right: 10px;
  font-size: 80px;
}

.menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* REPONSIVE */

@media only screen and (min-width: 992px) {
  .video-background {
    height: auto;
    width: 100%;
  }

  .text {
    /* font-weight: 700; */
    /* bottom: 6px;
    font-size: 35px; */
    display: none;
  }

  .overlay a {
    font-size: 44px;
  }

  .overlay p {
    font-size: 23px;
  }
}
